<!DOCTYPE html>
<html>
    <head>
        <title> Ejs Template </title>
    </head>
    <body>
      <%- include('./partials/header.ejs'); %>
      <section>
        <h2> <%= heading %></h2>
        <ul>
          <% category.forEach((val)=>{%>
          <li> <%= val%> </li>
        <% })%>
        </ul>
      </section>
       <%- include('./partials/footer.ejs'); %>
    </body>

</html>