<header>
    <a href="/"> Home</a> &nbsp;&nbsp;&nbsp;
    <a href="/product"> Product</a> &nbsp;&nbsp;&nbsp;
    <a href="/login"> Login</a> &nbsp;&nbsp;&nbsp;
    <a href="/register"> Register</a> &nbsp;&nbsp;&nbsp;
</header>
