doctype html 
html 
head 
title Hello  Template 
body 
    h1 Welcome to  template Engine
    p The Name is #{name} and age is #{age}
    ul 
        for item in mycourses
            li=item 