doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Assignment
  link(rel='stylesheet' href='style.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
.container
  // navbar
  .nav
    ul
      li.heading
        b Insight
      li
        i.slo  your voice slogan
      li.nvright1
        i.fa.fa-lock
        | &nbsp; Log in
      li.nvright1
        i.fa.fa-user
        | &nbsp; Sign up
      li.nvright1
        i.fa.fa-question-circle
        | &nbsp; How it works
  // image
  .mid
    img.banner(src='./bg.jfif' alt='error' style='width: 100%; height: 500px;')
    .maintext
      h1.maxtext DON&apos;T IGNORE YOUR DREAMS
      h3
        p.minitext
          b The 5 regrets
          |  paint a portraits of post-industrial man, who shrinks himself
          |                     into a shape that fits his circumstances, then turns dutifully till he stops.
    .btnss
      button.greenBtn(type='submit') See how it works
      button.blueBtn(type='submit') Join us
  // boxes
  .flex3
    .card1
      img(src='./csk.jfif' alt='error' style='width: 330px; height: 78%;')
      br
      img.f1(src='./msdcsk.jfif' alt='error' style='width: 50px; height: 50px;')
      .title1
        p
          b You neglect your friends
        p.subtitle MS Dhoni,CSK, 41
    .card2
      img(src='./rcb.jfif' alt='error' style='width: 330px; height: 78%;')
      br
      img.f1(src='./vkrcb.jfif' alt='error' style='width: 50px; height: 50px;')
      .title1
        p
          b You forget your dreams
        p.subtitle Virat Kohli, RCB, 35
    .card3
      img(src='./mi.jfif' alt='error' style='width: 330px; height: 78%;')
      br
      img.f1(src='./rsmi.jfif' alt='error' width='50px' height='50px')
      .title1
        p
          b You suppress your feelings
        p.subtitle Rohit Sharma, MI, 36
  hr
  // data
  .data
    .data1
      small
      img.dataimg1(src='./dhoni.jfif' alt='error' style='width: 70px; height: 70px;')
      p.di1
        | Oct 18
        br
        | I would like to avoid making these mistakes.
    .data2
      img.dataimg1(src='./virat.jfif' alt='error' style='width: 70px; height: 70px;')
      p.di2
        | Oct 8
        br
        | Lorem ipsum dolor sit amet consectetur.
    .data3
      img.dataimg1(src='./ro.jfif' alt='error' style='width: 70px; height: 70px;')
      p.di3
        | Oct 2
        br
        | Lorem ipsum dolor sit amet consectetur.
  hr
  // clients
  .logos
    .logo1.log
      h1 Featured on:
    .logo2.log
      h2 New Texas Times
    .logo3.log
      img.logo3(src='./git.jfif' alt='error' style='width: 100px; height: 70px;')
    .logo4.log
      img.logo4(src='./pin.jfif' alt='error' style='width: 200px; height: 70px;')
    .logo5.log
      img.logo5(src='./insta.jfif' alt='error' style='width: 100px; height: 70px;')
    .logo6.log
      img.logo6(src='./aws.jfif' alt='error' style='width: 150px; height: 70px;')
    .logo7.log
      img.logo7(src='./hero.jfif' alt='error' style='width: 200px; height: 70px;')
  // footer
  .footer
    .fl
      .l1
        h2 Main
        br
        ul
          li
            h4 Start Here
          li
            h4 Portfolio
          li
            h4 Meet Us
          li
            h4 Blog
          li
            h4 Contact
      .l1
        h2 Company
        br
        ul
          li
            h4 About
          li
            h4 Help
          li
            h4 Support
          li
            h4 Jobs
          li
            h4 Directory
      .l1
        h2 One More
        br
        ul
          li
            h4 Meetup
          li
            h4 Handbook 
          li
            h4 Privacy
          li
            h4 API
          li
            h4 Equipment
      .l1
        h2 The Last One
        br
        ul
          li
            h4 Meetup
          li
            h4 Privacy
          li
            h4 Meet Us
          li
            h4 API
          li
            h4 Equipment
    .fr
      h3
        span
          i.fa.fa-twitter
        span
          i.fa.fa-facebook
        span
          i.fa.fa-google
      h4
        i Copyright &copy; 2022. All Right Reserved
        br
        br
        |  Privacy Policy &nbsp; Terms Of Service
      br
